* {
    box-sizing: border-box;
}

.company {
    margin-left: 10px;
}

#app {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
}

.menu {
    margin-left: auto;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-right: 15px;
}

.list-products .card-product {
    background-color: #fff;
}

.list-products section .caption {
    padding: 15px;
}

.list-products img {
    width: 100%;
}

.logo {
    width: 50px;
}

header {
    align-items: center;
    background-color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 15px;
}

.cart {
    width: 25px;
}